@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@layer utilities {

    @keyframes example {
        from {left: -20px;}
        to {left: 20%;}
      }
}
